





<div class="game-container">
    <div class="instructions" *ngIf="gameState === 'instructions'">
        <div class="instructions-text">
            Fulfill the orders within the time limit
            <br />
            Game starting in {{(countdown$ | async) || instructionsBuffer }}s
        </div>
    </div>

    <div class="playarea" *ngIf="gameState === 'playing'">
        <app-food *ngFor="let food of currentSpawn" [name]="food" [descending]="true">
        </app-food>
    </div>

    <div class="game-over" *ngIf="gameState === 'end'">
        <div class="instructions-text">
            Game over!
            <br />
            Your score is 123
            <br />
            Thanks for playing!
        </div>
    </div>







  <!-- style="background:url('assets/images/scott-webb-50450-unsplash.jpg');height:90vh;width:80vw;display:flex;flex-direction:row"> -->
  <!-- <div *ngFor="let item of items">
    <app-item style="position:fixed;transition:all 0.5s linear" [name]="item.name" [type]="item.type"
      [positionX]="item.positionX">
    </app-item>
  </div>

  <div class="container">
    <div class="font-large">
      {{countdownText}}
    </div>

    <div *ngIf="this.showOrderFulfilled" class="font-temporary">
      Extra 2 points for completed order!
    </div>

    <div *ngIf="showGameOver">
      <div *ngIf="!this.foodService.gameWon" class="font-large">
        GAME OVER!
        <br>
        Your score is {{foodService.score}}.
      </div>
      <div *ngIf="this.foodService.gameWon" class="font-large">
        YOU WON!
        <br>
        Your score is {{foodService.score}}.
      </div>
      <br>
      <button class="btn-replay" (click)="restart()">
        Play again
      </button>
    </div>
  </div> -->
</div>