@import 'src/app/shared.scss';

.game-container {
    height: 90vh;
    width: 80vw;
}

.game-container, .instructions {
    display: grid;
    place-items: center;
}

.instructions {
    grid-gap: 20px;
}

.instructions-text {
    @include gameAreaText;
}

.playarea {
    place-self: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.btn-restart {
    @include button($c-primary);
    margin-top: 15px;
}
