<div class="game-container">
    <div class="instructions" *ngIf="gameState === 'instructions'">
        <div class="instructions-text">
            Fulfill the orders within the time limit
            <br />
            Game starting in {{(countdown$ | async) || instructionsBuffer }}s
        </div>
    </div>

    <div class="playarea" *ngIf="gameState === 'playing'">
        <app-food *ngFor="let food of currentSpawn" [name]="food" [descending]="true">
        </app-food>
    </div>

    <div class="game-over" *ngIf="gameState === 'end'">
        <div class="instructions-text">
            Game over!
            <br />
            Your score is {{score}}
            <br />
            Thanks for playing!
            <br />
            <button type="button" class="btn-restart" (click)="restart()">Play again?</button>
        </div>
    </div>

</div>