<div class="progress-container">
    <div class="timer">
        <div *ngIf="(gameService.gameStatus$ | async) as gameStatus">
            <span *ngIf="gameStatus === 'End'">
                Game Over!
            </span>
            <span *ngIf="gameStatus === 'Start'">
                <div>Timer</div>
                {{gameService.countDown$ | async}}
            </span>
            <span *ngIf="gameStatus === 'New'">
                Are you hungry?
            </span>
        </div>
    </div>
    <div class="orders">
        <!-- <div class="current-order" *ngIf="(gameService.orderList$ | async) as orderList"> -->
        <div class="current-order">
            <div>Orders: {{orderList?.length}}</div>
            <div>
                <div>Current order</div>
                <!-- <div class="order-container">
                    <app-item name="kopi" [small]="true" style="width: 100px"></app-item>
                    <app-item name="kopi" [small]="true"></app-item>
                    <app-item name="kopi" [small]="true"></app-item>
                </div> -->
                <div *ngIf="(gameService.currentOrder$ | async) as currentOrderIndex">
                        currentOrderIndex: {{currentOrderIndex}}
                </div>

                <!-- <div class="order-container" *ngIf="(gameService.currentOrder$ | async) as currentOrderIndex">
                    <app-item *ngFor="let itemName of orderList[currentOrderIndex]"
                        [name]="itemName" [small]="true">
                    </app-item>
                </div> -->
            </div>
        </div>
    </div>
</div>