<div class="progress-container">
    <div class="timer">
        <div>
            Timer
        </div>
        <div *ngIf="(gameStatus$ | async) as gameStatus">
            <span *ngIf="gameStatus === 'End'">
                {{gameService.gameOverText}}
            </span>
            <span *ngIf="gameStatus === 'Start'">
                {{countDown$ | async}}
            </span>
            <span *ngIf="gameStatus === 'New'">
                {{gameService.gameDuration / 1000}}
            </span>
        </div>
    </div>
    <div class="orders">
        Orders
    </div>
    <div class="current-order">
        Current order
    </div>
</div>