<div class="progress-container">
    <div class="timer">
        <div *ngIf="(gameService.gameStatus$ | async) as gameStatus">
            <span *ngIf="gameStatus === 'End'">
                Game Over!
            </span>
            <span *ngIf="gameStatus === 'Start'">
                <div>Timer</div>
                {{gameService.countDown$ | async}}
            </span>
            <span *ngIf="gameStatus === 'New'">
                Are you hungry?
            </span>
        </div>
    </div>
    <div class="orders" *ngIf="(gameService.orderList$ | async) as orderList">
        <div class="order-count">
            <div>Orders</div>
            <div>{{orderList.length}}</div>
        </div>
        <div class="current-order" *ngIf="(gameService.currentOrder$ | async) as currentOrderIndex">
            <div>Current order</div>
            <div>{{orderList[currentOrderIndex-1]}}</div>
             <!-- this is wrong -->
        </div>
    </div>
</div>