@import 'src/app/shared.scss';

.timer-text {
    @include sidebarText;
}

.timer-title {
    @include sidebarTitle;
    margin-bottom: 10px;
}

.timer-container {
    display: grid;
    grid-auto-flow: row;
}