.instructions {
    text-align: center;
    outline: 1px dashed blue;
    & > * {
        $py: 15px;
        padding: $py 0px $py 0px;
    }
}

.game-area {
    display: grid;
    place-items: center;
}

.points {
    margin-top: 50px;
}

@mixin btn($c-light, $c-dark) {
    border-radius: 50px;
    border: 2px solid $c-dark;
    padding: 10px;
    font-family: 'Pangolin', cursive;
    &:hover{
        box-shadow: 5px 5px $c-light;
    }
    &:active {
        box-shadow: 3px 3px $c-light;
    }
}

.btn-start {
    $c-dark: purple;
    $c-light: #fd00fd;
    @include btn($c-light, $c-dark);
}

.btn-home {
    $c-dark: #d66a04;
    $c-light: #f6a151;
    @include btn($c-light, $c-dark);
}

.btn-replay {
    $c-dark: #0435d8;
    $c-light: #7797ff;
    @include btn($c-light, $c-dark);
    margin-right: 15px;
}