<div *ngIf="(gameService.gameStatus$ | async) as gameStatus">
    <div>Game status: {{gameStatus}}</div>
    <div>Total orders: {{(gameService.orderList$ | async) | json}}</div>
    <div *ngIf="gameStatus === 'New'">
        <ng-container *ngTemplateOutlet="instructions"></ng-container>
    </div>
    <div *ngIf="gameStatus === 'End'">
        <ng-container *ngTemplateOutlet="gameEnd"></ng-container>
    </div>
    <div *ngIf="gameStatus === 'Start'">
        <button (click)="nextOrder()">Next order</button>
        <ng-container [ngTemplateOutlet]="gameStart" 
            [ngTemplateOutletContext]="{$implicit: gameService.itemSpawn$ | async}">
        </ng-container>
    </div>
</div>

<ng-template #gameStart let-items>
    <div class="game-area">
        <div class="points">
            Points collector
        </div>
        <div *ngFor="let itemName of items">
            <app-item [name]="itemName"></app-item>
        </div>
    </div>
</ng-template>

<ng-template #gameEnd>
    <div class="instructions">
        <div>
            <h2>Your score:</h2>
            {{ 1 + 1}}
        </div>
        <div>
            <button type="button" class="btn-replay mr-2" (click)="startGame()" disabled>
                Play again?
            </button>
            <button type="button" class="btn-home" (click)="newGame()">
                Instructions
            </button>
        </div>
    </div>
</ng-template>

<ng-template #instructions>
    <div class="instructions">
        <div>
            <h2>Instructions</h2>
            Complete the orders within the time frame! 
        </div>
        <div>
            <button type="button" class="btn-start" (click)="startGame()">
                Start Game
            </button>
        </div>
    </div>
</ng-template>