div {
    transition: all linear 0.1s;
    position:relative;

    &:hover {
        transform: scale(1.5) rotate(5deg);
    }
}

span {
    position: relative;
    opacity: 0;
    top: -50px;
    font-size: xx-large;
    animation: scoreDisappear 1s linear;
}

.red {
    color: red;
}

.green {
    color: green;
}


@keyframes scoreDisappear {
    0%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.clicked {
    opacity: 0;
    animation: disappear 0.5s linear;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0.1) rotate(-50deg);
    }
}
