.flex-container {
  display: flex;
  align-items: stretch;
}

* {
  font-family: 'Fredoka One', cursive
}

.sidebar {
    text-align:center;
    padding: 0px 10px;
    border: 1px solid #bebebe;
    background: repeating-linear-gradient(#bebebe, white 3px, white 20px);
}