<h1 style="text-align: center">
  Nak Makan Apa?
  <small>(BETA)</small>
</h1>

<div class="flex-container">
  <div style="background:yellow">
    <app-game></app-game>
  </div>
  <div style="width:100%;background:url('assets/images/notepad.jpg');text-align:center">
    <app-timer></app-timer>
    <hr>
    <!-- TODO: extract to component -->
    <h2>
      Orders ({{foodService.remainingOrderCount()}} left)
    </h2>
    <div *ngIf="foodService.orders">
      <app-order [order]="foodService.getTopOrder()"></app-order>
    </div>
  </div>
</div>