<h1 style="text-align: center">
  RxJS Mamak
</h1>

<div class="flex-container">
  <div>
    <app-game></app-game>
  </div>


  <div class="sidebar">
    <div class="timer">
        <app-timer></app-timer>
    </div>
    <div class="score-container">
        <label class="sidebar-title">Score</label>
        <label class="score">{{foodService.currentScore$ | async}}</label>
    </div>
    <div class="orders-list">
        <label class="sidebar-title">Current order</label>
        <div *ngIf="(foodService.currentOrder$ | async) as nextOrder">
            <app-food *ngFor="let order of nextOrder" [name]="order"></app-food>
        </div>
    </div>

<!-- 
    <hr style="border-top: dotted 3px gray">
    <h2>
      Score : {{foodService.score}}
    </h2>
    <hr style="border-top: dotted 3px gray">
    <h2>
      Orders completed {{foodService.maxOrderCount-foodService.remainingOrderCount()}} / {{foodService.maxOrderCount}}
    </h2>
    {{foodService.orders | json}}
    <div *ngIf="foodService?.orders">
      <app-order [order]="foodService.getTopOrder()"></app-order>
    </div> -->
  </div>


</div>